/* src/components/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333; /* Background color */
    color: white;
    border-radius: 15px;
    width: 97%;
    margin: 10px auto; 
}


.header-left {
    display: flex;
    gap: 15px;
}

.header-btn {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  background: none;
  color: #ffffff;
  font-weight: 600;
  position: relative;
  display: inline-block;
  text-transform: uppercase; 
}

.header-btn::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  right: 50%;
  height: 2px;
  background: white;
  transition: all 0.3s ease;
}

/* When hovering, animate the underline */
.header-btn:hover::after {
  left: 0;
  right: 0;
}

/* Active page underline */
.header-btn.active::after {
  left: 0;
  right: 0;
  background: white;
}

/* Spécifique à chaque bouton */
.home-btn {
  background-color: transparent;
  color: #ffffff;  
  margin-top: 5px;
}

.model-btn {
  background-color: transparent;
  color: #ffffff;  
  margin-top: 5px;
}

.history-btn {
  background-color: transparent;
  color: #ffffff;  
  margin-top: 5px;
}

.doc-btn {
  background-color: transparent;
  color: #ffffff;  
  margin-top: 5px;
}


/* Home icon styling */
.home-icon {
    width: 48px;
    height: 48px;
}

.header-right {
    padding-right: 15px;
}

.social-links,.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-family: 'Titillium Web', sans-serif;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    background: #222729;
    margin: 5px;
    transition: 0.3s;
    justify-content: center;
  }
  
  .social-btn svg {
    height: 24px;
    width: 24px;
  }
  
  .social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    margin-left: 5px;
  }
  
  .social-btn:hover {
    width: 150px;
    border-radius: 5px;
  }
  
  .social-btn:hover span {
    padding: 2px;
    width: 80px;
  }
  
  
  #linkedin svg {
    fill: #0e76a8;
  }
  
  #github {
    fill: #333;
  }
  