/* src/styles/History.css */

.history-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.history-header h1 {
  font-size: 2.5rem;
  font-weight: 800;
  background: linear-gradient(45deg, var(--accent-primary), var(--accent-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.clear-history-btn {
  display: flex;
  margin-left : 30px;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  color: var(--text-primary);
  border: 1px solid var(--accent-primary);
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.clear-history-btn:hover {
  background-color: var(--accent-primary);
  color: var(--bg-primary);
}

.clear-history-btn .svgIcon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.history-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.history-item {
  background-color: var(--bg-secondary);
  border-radius: 10px;
  padding: 1.5rem;
  border: 1px solid rgba(124, 58, 237, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  width: 97%;
  transition: all 0.3s ease;
}

.history-item:hover {
  border-color: var(--accent-primary);
  transform: translateY(-2px);
}

.history-item-details {
  flex: 1;
  margin-right: 1rem;
}

.load-request-btn {
  background-color: var(--accent-primary);
  color: var(--bg-primary);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.load-request-btn:hover {
  background-color: var(--accent-secondary);
  transform: translateY(-2px);
  box-shadow: 0 4px 20px rgba(124, 58, 237, 0.2);
}

.load-request-btn:active {
  transform: translateY(0);
  box-shadow: none;
}

@media (max-width: 768px) {
  .history-container {
    padding: 1rem;
  }

  .history-header h1 {
    font-size: 2rem;
  }

  .history-items {
    grid-template-columns: 1fr;
  }
}