/* src/styles/Modelling.css */

.modeling-container {
  display: flex;
  transition: all 0.3s ease; 
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
}

/* Sidebar */
.sidebar-visible {
  width: 25%;
  background-color: #26272b;
  padding: 20px;
  border-radius: 10px; 
  color: #E5EFC1;
  transition: width 0.5s ease;
}

.sidebar-hidden {
  width: 0;
  transition: width 0.5s ease;
  overflow: hidden; 
}

.toggle-button {
  position: absolute;
  top: 150px; 
  left: 20px; 
  background-color: #39AEA9;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  z-index: 1000;
  transform: translateY(-50%); 
  transition: background-color 0.3s;
}

.toggle-button:hover {
  background-color: #349e99; 
}

.sidebar h3, .sidebar h4 {
  color: #A2D5AB;
}

.sidebar input:not([type="checkbox"]), .sidebar select {
  width: 98%; 
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.sidebar form {
  display: flex;
  flex-direction: column;
}

.sidebar label {
  display: flex;
  
  justify-content: flex-start; 
  align-items: center;  
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer; 
}

.sidebar input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  appearance: none;
  background-color: #333;
  border: 2px solid #A2D5AB;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.sidebar input[type="checkbox"]:checked {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.sidebar input[type="checkbox"]:checked::after {
  content: "✓";
  color: white;
  font-size: 14px;
  position: absolute;
  top: 1px;
  left: 4px;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #39AEA9;
  border: none;
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.3s;
}

.sidebar button:active {
  box-shadow: none;
  transform: scale(0.95);
}

.sidebar button:hover {
  background-color: #349e99;
}

.wrapper {
  width: 100%; 
  margin-bottom: 10px;
}

.wrapper span:first-child {
  float: left;
  width: 30%;
}

.wrapper span:last-child {
  float: right;
  width: 5%; 
  text-align: right;
}

.clearboth {
  clear: both;
}

.results-container.without-sidebar {
  width: 100%; 
}

.results-container.with-sidebar {
  width: 70%;
  transition: width 0.3s ease;
}

.results-header {
  display: flex;
  justify-content: space-between;
}

.results-section {
  width: 45%;
  background-color: #2F2F2F;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: 0.3s ease;
}

.results-section:hover {
  filter: drop-shadow(0px 0px 8px #39AEA9);
}

.results-section h4 {
  color: #A2D5AB;
}

.greeks-section {
  margin-top: 20px;
  margin-bottom: 90px;
  padding: 20px;
  background-color: #2F2F2F;
  border-radius: 8px;
  transition: 0.3s ease;
}

.greeks-section:hover {
  filter: drop-shadow(0px 0px 8px #39AEA9);
}

.greeks-section h4 {
  color: #A2D5AB;
}

.greek-values {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding-bottom: 10px;
}

.tabs button {
  padding: 10px;
  background-color: #39AEA9;
  color: white;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s;
}

.tabs button:active {
  box-shadow: none;
  transform: scale(0.95);
}

.tabs button:hover {
  background-color: #349e99;
}

.graph-container {
  padding: 20px;
  background-color: #2F2F2F;
  border-radius: 8px;
  min-height: 500px;
  position: relative;
  transition: width 0.3s ease;
}

.graph-container input, .graph-container select {
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
}

.graph-container button {
  background-color: #39AEA9;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 10px;
}

.graph-container button:active {
  box-shadow: none;
  transform: scale(0.95);
}

.graph-container button:hover {
  background-color: #349e99;
}

.options-sensitivity input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px; 
  appearance: none;  
  background-color: #333;
  border: 2px solid #A2D5AB;
  border-radius: 5px; 
  cursor: pointer; 
  position: relative;
}

.options-sensitivity input[type="checkbox"]:checked {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.options-sensitivity input[type="checkbox"]:checked::after {
  content: "✓";
  color: white;
  font-size: 14px;
  position: absolute;
  top: 1px;
  left: 4px;
}

.loader {
  position: absolute;
  top: 355px;
  left: 50%;
  transform: translateX(-50%);
  display: grid; 
  grid-template-columns: repeat(3, 10px);
  grid-gap: 5px;
  z-index: 10;
}

.square {
  background: #E5EFC1;
  width: 10px;
  height: 10px;
  animation: loader_5191 675ms ease-in-out infinite alternate;
}

@keyframes loader_5191 {
  from { opacity: 0; }
  to { opacity: 1; }
}

#sq1 { animation-delay: 0ms; }
#sq2 { animation-delay: 75ms; }
#sq3 { animation-delay: 150ms; }
#sq4 { animation-delay: 225ms; }
#sq5 { animation-delay: 300ms; }
#sq6 { animation-delay: 375ms; }
#sq7 { animation-delay: 450ms; }
#sq8 { animation-delay: 525ms; }
#sq9 { animation-delay: 600ms; }
