/* src/styles/MonteCarlo.css */

.documentation-container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  border: 1px solid var(--border);
  border-radius: 8px;
}

.doc-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.doc-section {
  margin-bottom: 20px;
}

.doc-section p{
  text-align: justify;
}

.doc-section h2 {
  color: var(--accent);
  font-size: 1.8rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.doc-equations {
  text-align: center;
  }

  .doc-equations p {
  text-align: left; 
  }

  .doc-equations .katex-display {
  margin: 10px 0; 
  }


.doc-image {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.doc-image img {
  max-width: 80%;
  border-radius: 10px;
}
