/* src/styles/NeuralNetwork.css */

.documentation-containerN {
  padding: 40px; 
  max-width: 900px;
  margin: 30px auto;
  background-color: #141414;
  color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.doc-titleN {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.doc-sectionN {
  margin-bottom: 40px;
  line-height: 1.6;
}

.doc-sectionN p {
  text-align: justify;
  margin-bottom: 10px; 
}

.doc-sectionN ul {
  margin-bottom: 10px; 
}

.doc-sectionN h2 {
  font-size: 26px;
  margin-bottom: 15px;
  text-align: center;
  margin-top: 30px;
}

