/* src/styles/NeuralNetwork.css */

.documentation-containerN {
  padding: 40px;
  max-width: 900px;
  margin: 30px auto;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  border: 1px solid var(--border);
  border-radius: 8px;
}

.doc-titleN {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.doc-sectionN {
  margin-bottom: 40px;
  line-height: 1.6;
}

.doc-sectionN p {
  text-align: justify;
  margin-bottom: 10px; 
}

.doc-sectionN ul {
  margin-bottom: 10px; 
}

.doc-sectionN h2 {
  color: var(--accent);
  font-size: 1.8rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}

