.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: hwb(0 7% 93%); /* Dark Charcoal Gray */
  color: #E5EFC1;
  padding: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #666;
}

body {
  background-color: #121212;
  color: #E5EFC1;
}

.centered-title {
  text-align: center;
}





